
:root {
    --theme-color: #629FB0;
    --theme-color-border: #E7EDEE;
    --theme-font: 'Roboto';
    --font-size-default: 14px;
    --font-size-big: 17px;
    --font-size-smaller: 12px;
    --font-size-small: 10px;

    --header-height: 60px;
    --content-width-perc: 85%;
    --content-width-min: 600px;

    --default-padding: 10px;
    --border-radius: 5px;
}


body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: var(--theme-font);
    font-size: var(--font-size-default);
}

.header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: var(--theme-color);
    height: var(--header-height);
    width: 100%;
    box-sizing: border-box;
    z-index: 50;
}

.content {
    margin: auto;
    margin-top: var(--header-height); /* Offset from the header */

    box-sizing: border-box;
    padding: var(--default-padding);

    width: var(--content-width-perc);
    min-width: var(--content-width-min);
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
}

.spinner {
    animation-name: spinner-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spinner-animation {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
