{% load static %}

{# Template to load the comments. This template will load comments recursively, correctly indenting the comments #}

<div class="feed-post-comment">

    {% if not hideline %}
    <div class="feed-post-comment-separator"></div>
    {% endif %}

    <div class="feed-post-comment-userbadge">
        <img class="feed-post-comment-userbadge-portrait" src="{{ comment.author.get_portrait_url }}" onerror="this.src = '{% static 'img/default_user_profile.png' %}'">

        <div class="feed-post-comment-userbadge-username">
            <a href="{% url 'feed:user_profile' comment.author.id %}">{{ comment.author.name }}</a>
            {% if comment.author.is_verified %}
            <img class="feed-post-comment-userbadge-verified" src="{% static 'feed/img/verified.png' %}" title="This user has a verified profile">
            {% endif %}
        </div>
        <div class="feed-post-comment-userbadge-date utc-date-container">
            {{ comment.create_date|date:"c" }}
        </div>
    </div>
    <div class="feed-post-comment-content">
        {{ comment.text }}
    </div>

    <div class="feed-post-subcomment-container">
        {# The `subcomments` variable contains all the subcomments from this comment, recurse through them #}
        {% for subcomment, subsubcomments in subcomments %}
            {% include "feed/comment_template.html" with comment=subcomment subcomments=subsubcomments hideline=False %}
        {% endfor %}
    </div>

</div>