{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/css/login.css' %}">
    <script src="{% static 'feed/js/async.js' %}"></script>
    <script src="{% static 'feed/js/login.js' %}"></script>
{% endblock %}




{% block content %}

<div class="login-content">
    <div class="login-content-header">Welcome to Backpage</div>
    <div class="login-content-intro">
        Please enter your name and a username to continue.
        If you've used this page before, please enter the username you used previously.
        Otherwise enter a new username.
    </div>
    <div class="login-form-container">
        <form class="login-form" onsubmit="return login()" name="loginForm">
            <input class="login-form-text-box" name="display-name-field" type="text" placeholder="Display Name">
            <input class="login-form-text-box" name="user-name-field" type="text" placeholder="Username">
            <div id="login-message-display"></div>
            <input id="login-form-login-button" class="login-form-submit" type="submit" value="Login">
            <img id="login-form-login-spinner" class="spinner" src="{% static 'feed/img/spinner.png' %}">
        </form>
        <div class="login-content-warning">
            Please note that this website is built for research purposes. It is not meant
            to be a secure system, and all information posted on this website may be tracked
            for the purposes of research. If you feel uncomfortable with continuing, please
            consult with the research lead. Thanks for participating!
        </div>
    </div>


    {% csrf_token %}
</div>

{% endblock %}
