{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/css/user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'feed/css/feed.css' %}">
    <script src="{% static 'feed/js/interactionControls.js' %}"></script>
{% endblock %}

{% block content %}

<div class="user-content">
    <div class="user-content-title">
        {% load static %}
        <img class="user-content-portrait" src="{{ user.get_portrait_url }}" onerror="this.src = '{% static 'img/default_user_profile.png' %}'">
        <div class="user-content-name">
            {{ user.name }}
            {% if user.is_verified %}
            <img class="user-content-verified" src="{% static 'feed/img/verified.png' %}" title="This user has a verified profile">
            {% endif %}
        </div>
    </div>
    <div class="user-content-bio">
        {{ user.intro_text }}
    </div>
</div>

{% for post, comments in posts %}
<div class="feed-post">
    {% if forloop.first %}
    <div class="user-content-feed-title">
        Recent Activity
    </div>
    <div class="user-content-feed-title-separator"></div>
    {% endif %}

    <!-- Post's user information -->
    <div class="feed-post-userbadge">
        <img class="feed-post-userbadge-portrait" src="{{ post.author.get_portrait_url }}" onerror="this.src = '{% static 'img/default_user_profile.png' %}'">

        <div>
            <div class="feed-post-userbadge-username">
                <a href="{% url 'feed:user_profile' post.author.id %}">{{ post.author.name }}</a>
                {% if post.author.is_verified %}
                <img class="feed-post-userbadge-verified" src="{% static 'feed/img/verified.png' %}" title="This user has a verified profile">
                {% endif %}
            </div>
            <div class="feed-post-userbadge-date utc-date-container">
                {{ post.create_date|date:"c" }}
            </div>
        </div>
    </div>

    <!-- Post content -->
    <div class="feed-post-content">
        {{ post.text }}
    </div>

    <!-- Post interaction controls -->
    <div class="feed-post-interaction-controls">
        <button id="feed-post-interaction-button-like-{{ post.id }}" class="feed-post-interaction-button feed-post-interaction-button-like" onclick="like('{{ post.id }}')">
            <span class="button-label">Like</span>
        </button>
        <button id="feed-post-interaction-button-comment-{{ post.id }}" class="feed-post-interaction-button feed-post-interaction-button-comment" onclick="document.getElementById('comment-input-{{ post.id }}').focus()">
            <span class="button-label">Comment</span>
        </button>
        <button id="feed-post-interaction-button-share-{{ post.id }}" class="feed-post-interaction-button feed-post-interaction-button-share" onclick="share('{{ post.id }}')">
            <span class="button-label">Share</span>
        </button>
    </div>

    <div class="feed-post-interaction-separator"></div>
    <!-- Comment Section -->
    <div id="feed-post-comment-{{ post.id }}" class="feed-post-comments">
        {% for comment, subcomments in comments %}
            {% include "feed/comment_template.html" with comment=comment subcomments=subcomments hideline=forloop.first %}
        {% endfor %}
        <!-- Comment writing section -->
        {% if comments|length > 0 %}
        <div class="feed-post-comment-separator"></div>
        {% endif %}
        <div class="feed-post-comment-writing">
            <input id="comment-input-{{ post.id }}" class="feed-post-comment-text-box" type="text" placeholder="Say something!">
            <img id="comment-input-button-{{ post.id }}" class="feed-post-comment-text-box-button" src="{% static 'feed/img/arrow.png' %}" onclick="comment('{{ post.id }}', document.getElementById('comment-input-{{ post.id}}').value)">
        </div>
    </div>
</div>
{% endfor %}

<!-- Comment Placeholder -->
<div id="feed-post-comment-template" class="feed-post-comment feed-post-comment-placeholder">
    <div class="feed-post-comment-userbadge">
        <img class="feed-post-comment-userbadge-portrait" src="{{ logged_in_user.get_portrait_url }}" onerror="this.src = '{% static 'img/default_user_profile.png' %}'">

        <div class="feed-post-comment-userbadge-username">
            <a href="{% url 'feed:user_profile' logged_in_user.id %}">{{ logged_in_user.name }}</a>
            {% if logged_in_user.is_verified %}
            <img class="feed-post-comment-userbadge-verified" src="{% static 'feed/img/verified.png' %}" title="This user has a verified profile">
            {% endif %}
        </div>
        <div class="feed-post-comment-userbadge-date">

        </div>
    </div>
    <div class="feed-post-comment-content">

    </div>
    <div class="feed-post-comment-separator"></div>
</div>


{% endblock %}
