

.notification-messages {
    --message-width: 350px;

    position: fixed;
    top: 75px;
    right: 25px;
    width: var(--message-width);
    z-index: 100;
}

.notification-message-template {
    display: none;
}

.notification-message {
    padding: 12px;
    border-radius: 7px;

    background-color: #91bbd0c0;
    margin-bottom: 10px;
}

.notification-message-header {
    font-weight: bold;
}

.notification-message-content {
    font-size: var(--default-font-size);
}

.notification-message-info {
    background-color: #91bbd0c0;
}

.notification-message-failure {
    background-color: #d09191c0;
}

.notification-message-success {
    background-color: #abd091c0;
}

/* Animation for the removal of the messages */
@keyframes expiring-message-animation {
    from { transform: translate(0px, 0px); opacity: 1; }
    to   { transform: translate(calc(var(--message-width) + 100px), 0px); opacity: 0; }
}

.expiring-message {
    transform: translate(0px, 0px);
    animation-name: expiring-message-animation;
    animation-duration: 1s; /* This should match with the delay used to delete item  */
    animation-fill-mode: forwards;
}
