<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <meta charset="utf-8">
        <title>Backpage</title>

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- A location for which message can be shown to the user to indicate status -->
        {% include "messages.html" %}
        <div class="header">
            {% include "header.html" %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>